<%- include('../../partials/header', {title:"Play: P, R, S"}) -%>

<p> My products
  <br>
  <br>

  <%for (let b=0; b<productId.length; b++){%>
  <table>
  <tr>
    <th>
      Name: <%=productTitles[b];%>
      <br>

      Cost:$<%=productPrice[b];%>
      <br>

      Link: <%=productLink[b];%>
      <br>

      <img src="/images/<%=productImage[b];%>" width="100px" />

    </th>
    </tr>
  </table>

  <br>

  <%} //render %>
  <%- include('../../partials/footer') -%>
